<div id="<%= dom_id inventory_food %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= inventory_food.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory:</strong>
    <%= inventory_food.inventory_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Food:</strong>
    <%= inventory_food.food_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this inventory food", inventory_food, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this inventory food', edit_inventory_food_path(inventory_food), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
