<div class="min-h-full w-full text-lg flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
<h2 class="mt-6 text-center text-5xl font-extrabold text-white">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource, class: "mt-8 space-y-6" %>

  <div class="field">
    <%= f.label :email, "Email (it can be made up)" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-full" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-full"%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-full" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-full" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "rounded-full text-neutral-500 py-3 my-8 px-5 bg-gray-100 inline-block font-medium hover:text-yellow-600" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
