<%= form_with(model: [ recipe, recipie_food ], url: create_recipe_recipie_food_path, class:"w-full") do |form| %>
  <div class='mt-4'>
  <% if recipie_food.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(recipie_food.errors.count, "error") %> prohibited this recipie_food from being saved:</h2>

      <ul>
        <% recipie_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :food %>
   <%= form.collection_select(:food_id, Food.all, :id, :name) %>
  </div>

  <div class="my-5">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, class: "block shadow rounded-full border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Add", class: "rounded-full text-neutral-500 py-3 ml-2 px-5 bg-gray-100 inline-block font-medium hover:text-yellow-600 cursor-pointer" %>
  </div>
<% end %>
