<!DOCTYPE html>
<html>
  <head>
    <title>TacoManiacoRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-neutral-400 flex flex-col justify-between h-screen">
    <nav class="bg-yellow-600 lg:px-10 md:px-10 px-2 lg:py-6 md:py-6 py-5">
      <div class="container md:flex-col lg:flex-row justify-between items-center mx-auto lg:flex md:flex hidden">
        <a href="/" class="flex items-center">
          <span class="text-5xl font-semibold text-white">taco-maniaco</span>
        </a>
        <div class=" w-full flex justify-end md:justify-center">
          <ul class="flex mt-4 text-lg">
            <li>
              <a href="/" class="lg:px-6 md:px-4 text-gray-50 hover:bg-gray-50 hover:text-yellow-600">
                home
              </a>
            </li>
              <% if user_signed_in? %>
            <li>
            <a href="/recipes" class="lg:px-6 md:px-4 text-gray-50 hover:bg-gray-50 hover:text-yellow-600">
              your recipes
            </a>
            </li>
              <% end %>
            <li>
              <a href="/public_recipes" class="lg:px-6 md:px-4 text-gray-50 hover:bg-gray-50 hover:text-yellow-600">
                public recipes
              </a>
            </li>
            <li>
              <a href="/foods" class="lg:px-6 md:px-4 text-gray-50 hover:bg-gray-50 hover:text-yellow-600">
                ingredients
              </a>
            </li>
              <% unless user_signed_in? %>
            <li>
              <a href="/users/sign_up" class="lg:px-6 md:px-4 text-gray-50 hover:bg-gray-50 hover:text-yellow-600">
                sign up
              </a>
            </li>
            <li>
              <a href="/users/sign_in" class="lg:px-6 md:px-4 text-gray-50 hover:bg-gray-50 hover:text-yellow-600">
                log in
              </a>
            </li>
              <% end %>
              
          </ul>
          <% if user_signed_in? %>
              <%= button_to "sign out", destroy_user_session_path, method: :delete, class: "m-4 px-4 lg:mx-8 text-white border rounded-full hover:bg-gray-50 hover:text-yellow-600" %>
              <% end %>
        </div>
      </div>
      
      <div class="lg:hidden md:hidden flex flex-col justify-between items-center">
      <div class=" w-full flex flex-wrap justify-center">
       <% unless user_signed_in? %>
            <div class="flex w-full justify-end mt-2">
              <a href="/users/sign_up" class="border px-3 py-2 rounded-full text-xl mx-2 font-bold text-gray-50 hover:bg-gray-50 hover:text-yellow-600">
                sign up
              </a>
              <a href="/users/sign_in" class="border px-3 rounded-full py-2 text-xl mx-2 font-bold text-gray-50 hover:bg-gray-50 hover:text-yellow-600">
                log in
              </a>
            </div>
              <% end %>
      <div class="flex flex-col justify-between w-full px-4">
      <% if user_signed_in? %>
      <div class="w-full mx-auto flex justify-end">
              <%= button_to "sign out", destroy_user_session_path, method: :delete, class: "self-center m-2 py-2 px-2 lg:mx-8 text-white border rounded-full hover:bg-gray-50 hover:text-yellow-600" %>
              </div><% end %>
        <a href="/" class="w-full text-center text-white font-semibold text-5xl my-3">taco-maniaco</a>
      </div>
          <ul class="flex mt-4 text-lg w-full justify-evenly mx-3">
              <% if user_signed_in? %>
            <li class="text-white">
            <a href="/recipes" class="text-gray-50 min-w-fit  hover:bg-gray-50 hover:text-yellow-600">
              your recipes
            </a>
            <li class="text-white">
            |
            </li>
            </li>
              <% end %>
            <li>
              <a href="/public_recipes" class="text-gray-50 hover:bg-gray-50 hover:text-yellow-600">
                public recipes
              </a>
            </li>
            <li class="text-white">
            |
            </li>
            <li>
              <a href="/foods" class="lg:px-6 md:px-4 text-gray-50 hover:bg-gray-50 hover:text-yellow-600">
                ingredients
              </a>
            </li>          
          </ul>
        </div>
      </div>
    </nav>
    <main class="container mx-auto mt-6 px-5 flex grow">
      <%= yield %>
    </main>
    <footer
      class="flex justify-end w-full mt-20 text-white p-10 leading-10 text-lg border-t bg-neutral-500"
    >
      <p>Developed by <span class="hover:underline"><a href="/">danalvrz</a></span>, 2022.</p>
    </footer>
  </body>
</html>
